#week {
    width: 80%;
    margin-bottom: 10%;
    box-sizing: border-box;
    flex: 0 0 auto;
    overflow-x: auto;
  }
  
  #week-content {
    min-width: 100%;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    border-radius: .5rem;
    background-color: var(--secondary-color);
    color: #fff;
    overflow: hidden;
    padding: 1%;
    box-sizing: border-box;
    margin: auto;
    font-size: 1.4rem;
  }
  
  #week-content *:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-width: 2px;
    outline-color: #E51A4C;
    outline-style: solid;
  }
  
  #week-content caption {
    color: var(--text-color);
    margin-bottom: 2%;
    font-size: 1.1em;
    font-family: 'Lora', serif;
  }
  
  #week-content .day {
    /* 100 / 7 */
    width: 14.28%;
  }
  
  #week-content .weather {
    width: 3rem;
    object-fit: contain;
  }
  
  #week-content .degrees {
    font-size: .9em;
  }

  @media script and (min-width: 800px) {
    #week {
        width: 60%;
        margin-bottom: 5%;
      }
    
      #week-content {
        width: 100%;
        max-width: 600px;
      }
      
      #week-content .day {
        font-size: 1.5rem;
      }
    
      #week-content .degrees {
        font-size: 1.4rem;
      }
  }

  @media screen and (max-width: 450px) {
    #week-content .day > .long {
      display: none;
    }
  
    #week-content .weather-container {
      height: 2.2rem;
    }
  
    #week-content .weather {
      width: 2.2rem;
    }
  
    #week-content .degrees {
      font-size: 1.2rem;
    }
  
    #week-content .desc {
      font-size: 1.3rem;
    }
  }
  
  @media screen and (max-width: 330px) {
    #week {
      width: 90%;
    }
    
    #week-content {
      padding: 1%;
      width: 140%;
    }
  
    #week-content .day,
    #week-content td {
      padding: 1%;
      box-sizing: border-box;
    }
  }