.App {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
}

.App-header {
  background-color: var(--header-and-footer);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  padding: 1%;
  color: #fff;
  width: 100%;
}

#title {
  margin: 0;
}

#local-and-time {
  margin: 10% 0;
  align-self: center;
  width: 50%;
  text-align: center;
}

#local-and-time time {
  font-size: 90%;
}

.App-content {
  font-family: 'Lora', serif;
  display: grid;
  grid-template: 
    "weather dg hu" 2rem
    "weather de wi" 2rem
    / 1fr 2fr 2fr;
  width: 76%;
  height: 4rem;
  color: #fff;
  /* background-color: var(--secondary-color); */
  background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
  border-radius: .3rem;
  font-size: .8rem;
  text-align: left;
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
  justify-items: center;
  padding: 1%;
}

.App-content #weather {
  grid-area: weather;
  width: 90%;
  height: 90%;
  box-sizing: border-box;
  align-self: center;
  object-fit: contain;
}

#degrees {
  grid-area: dg;
  align-self: flex-end;
}

#desc {
  grid-area: de;
  align-self: center;
}

#humidity {
  grid-area: hu;
  align-self: flex-end;
}

#wind {
  grid-area: wi;
  align-self: center;
}

#week {
  margin: 10% 0 8%;
  width: 90%;
  box-shadow: 0 0 4px rgba(0,0,0,.4);
  box-sizing: border-box;
  border-radius: .3rem;
  overflow: hidden;
  text-align: center;
  background-color: var(--secondary-color);
}

#week-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 1.5fr 1fr;
  justify-items: center;
  box-sizing: border-box;
  color: #fff;
}

#week-content .day {
  font-weight: 500;
  width: 100%;
  grid-row-start: 1;
  box-sizing: border-box;
  line-height: 2em;
  font-weight: 600;
}

#week-content .weather-container {
  grid-row-start: 2;
  width: 3rem;
  height: 3rem;
  margin: 0;
  align-self: end;
}

#week-content .weather {  
  object-fit: contain;
  box-sizing: border-box;
  width: 80%;
  height: 80%;
  margin-top: .3rem;
}

#week-content .degrees {
  grid-row-start: 3;
  width: 100%;
  line-height: 2em;
  align-self: end;
  font-size: .9rem;
}

#change-location {
  margin-bottom: 2%;
  color: var(--primary-color);
  text-decoration: underline var(--primary-color) 2px;
  text-align: center;
  background-color: var(--primary-color);
  color: #fff;
  align-self: center;
  padding: 1%;
  border-radius: .3rem;
  width: 50%;
}

#change-location:hover {
  transition: background-color .3s, color .3s, font-weight .3s;
  color: var(--primary-color);
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

#address-ipt {
  margin-bottom: 5%;
  align-self: center;
  padding: 1%;
  outline: none;
  border: none;
  border-bottom: .1em solid var(--primary-color);
  font-family: 'Lora', serif;
  width: 50%;
}

.App-footer {
  color: #fff;
  padding: 1%;
  align-self: flex-end;
  background-color: var(--header-and-footer);
  width: 100%;
}

.App-footer #github {
  color: #fff;
  text-decoration: none;
}