.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.App-header {
  background-color: var(--header-and-footer);
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 1%;
}

#title {
  margin: 0;
  text-align: center;
  font-size: 2.8rem;
}

#geolocation-denied-msg {
  max-width: 90%;
  text-align: center;
}

.App-content {
  background-color: var(--primary-color);
  display: grid;
  grid-template:
    "lt lt lt" 1fr
    "we dg hu" 1fr
    "we de wi" 1fr
    / .7fr 1fr 1fr;
  color: #fff;
  width: 60%;
  justify-items: start;
  align-items: center;
  box-sizing: border-box;
  border-radius: .3rem;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  margin: 10% 0;
  column-gap: 1%;
  flex: 0 0 auto;
  font-size: 1.3rem;
  padding: .5%;
  font-family: 'Open Sans Condensed', sans-serif;
}

#local-and-time {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Lora', serif;
  grid-area: lt;
  justify-self: center;
}

#weather {
  grid-area: we;
  width: 60%;
  object-fit: contain;
  place-self: center;
}

#degrees {
  grid-area: dg;
}

#desc {
  grid-area: de;
}

#humidity {
  grid-area: hu;
}

#wind {
  grid-area: wi;
}

#change-location {
  background-color: var(--button-color);
  color: #fff;
  padding: .5rem;
  border-radius: .4rem;
  width: 34%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 0 3px rgba(0,0,0,.4);
  text-decoration: underline #E51A4C;
  margin-bottom: 3%;
  box-sizing: border-box;
  align-self: center;
  border: none;
  font-family: 'Lora', sans-serif;
}

#change-location:hover {
  transition: background-color .3s, color .3s, font-weight .3s;
  background-color: transparent;
  color: #E51A4C;
  box-shadow: none;
  text-decoration: none;
  font-weight: 600;
}

#address-ipt {
  outline: none;
  border: none;
  border-bottom: .1rem solid #E51A4C;
  line-height: 3rem;
  color: var(--text-color);
  font-family: 'Mukta', serif;
  font-size: 1.4rem;
  width: 40%;
  margin: 0 0 3%;
}

#icon-author {
  margin: 5% 0;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}

.App-footer {
  background-color: var(--header-and-footer);
  width: 100%;
  color: #fff;
  padding: 1%;
  box-sizing: border-box;
  justify-self: flex-end;
}

.App-footer #github {
  color: inherit;
}

@media screen and (min-width: 800px) {
  .App-content {
    max-width: 400px;
    margin: 5% 0 8%;
  }

  #local-and-time {
    font-size: 1.8rem;
  }

  #change-location {
    max-width: 220px;
    padding: .8rem;
    border-radius: .6rem;
    margin-bottom: 2%;
  }

  #address-ipt {
    max-width: 280px;
    border-bottom-width: .2rem;
    margin-bottom: 2%;
  }

  #icon-author {
    margin: 2% 0;
  }
}

@media screen and (max-width: 450px) {
  #title {
    font-size: 2.4rem;
  }
  
  .App-content {
    font-size: 1.2rem;
  }
  
  #local-and-time {
    font-size: 1.5rem;
  }

  #week-content .day > .long {
    display: none;
  }

  #week-content .weather-container {
    height: 2.2rem;
  }

  #week-content .weather {
    width: 2.2rem;
  }

  #week-content .degrees {
    font-size: 1.2rem;
  }

  #week-content .desc {
    font-size: 1.3rem;
  }

  #change-location {
    font-size: 1.3rem;
  }

  #address-ipt {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  
  #icon-author {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 330px) {
  .App-content {
    width: 80%;
  }
  
  #week {
    width: 90%;
  }
  
  #week-content {
    padding: 1%;
    width: 140%;
  }

  #week-content .day,
  #week-content td {
    padding: 1%;
    box-sizing: border-box;
  } 

  #change-location {
    width: 50%;
  }

  #address-ipt {
    width: 50%;
  }
}