:root {
  --primary-color: #E51A4C;
  --secondary-color: #24B0F8;
  --header-and-footer: #282c34;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
}

h2 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
}